<div class="menu-item-tile col-md-6" ng-repeat="item in $ctrl.items">
    <div class="row">
        <div class="col-sm-5">
            <div class="menu-item-photo">
                <div>{{item.short_name}}</div>
                <img class="img-responsive" width="250" height="150" src="images/menu/{{$ctrl.catShortName}}/{{item.short_name}}.jpg" alt="Item">
            </div>
            <div class="menu-item-price">{{item.price_small}}<span> {{item.small_portion_name}}</span> {{item.price_large}} <span>{{item.large_portion_name}}</span></div>
        </div>
        <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">{{item.name}}</h3>
            <p class="menu-item-details">{{item.description}}</p>
        </div>
    </div>
    <hr class="visible-xs">
</div>